.contact-form {
  &__title {
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 3.625rem;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    opacity: 0.8;
    margin-bottom: 30px;
  }

  &__control {
    margin-bottom: 15px;
  }

  &__input {
    width: 100%;
    max-width: 320px;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba($color-white, 0.2);
    border-radius: 0;
    padding: 10px 0;
    color: rgba($color-white, 0.8);
    transition: 0.15s ease-out;

    &:focus,
    &:active {
      border: 0;
      border-bottom: 2px solid transparent;
      outline: 0;
    }

    &_file {
      border-bottom: 0;
      display: none;

      &:focus,
      &:active {
        border-bottom: 0;
      }
    }
  }

  &__file-label {
    display: flex;
    align-items: center;
    margin: 25px 0 40px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.15s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  &__file-icon {
    margin-right: 12px;
  }

  &__file-text {
    line-height: 13px;
  }

  &__button {
    width: 100%;
    max-width: 320px;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
  }

  &__agree-radio {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -9999px;

    &:checked + {
      .contact-form__agree-label {
        opacity: 1;

        &::before {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background: $color-white;
          top: 50%;
          left: -15px;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__agree-text {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
  }

  &__agree-label {
    position: relative;
    margin-left: 20px;
    opacity: 0.8;
    transition: 0.15s ease-out;

    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: transparent;
      border: 2px solid $color-white;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }
  }
}