* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $base-font-size;
}

body {
  height: 100%;
  font-family: $font-family;
  overflow-x: hidden;
  background-color: $color-white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  @media (min-width: 1400px) {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: $color-black;
  text-decoration: none;
  transition: 0.15s ease-out;

  &:hover {
    color: $color-brown;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 100px 0;

  &__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 2.875rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
}

.title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.875rem;
  margin: 0;
}

.button {
  background-color: $color-brown;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  padding: 18px 56px;
  transition: 0.15s ease-out;
  font-size: 1rem;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 700;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.08);

  &:hover {
    background-color: #CC9654;
    color: #ffffff;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}