extends layout/app

block page 
    include chunk/header
    include chunk/hero
    include chunk/directions
    include chunk/provide
    include chunk/about
    include chunk/advantages
    include chunk/discuss
    include chunk/stages
    include chunk/works
    include chunk/gifts
    include chunk/modal-gift
    include chunk/footer