section.section.about
  .container
    .row.justify-content-center.text-center
      .col-9
        h2.about__title Проект Рінго Україна - створений виконувати об`єктні задачі комплексного меблювання житлових та комерційних приміщень
    .row.no-gutters.about__row
      .col-md-6.position-relative
        img.about__img-left(src="./img/about-1.png" alt="about image 1")
        .about__item.about__item_left
          .about__decor
            .about__dot-outer
              .about__dot-inner
          p.about__text Наш колектив націлений на результат - вчасно реалізувати проект на найвищому рівні. Ми забезпечуємо спокій замовника та вирішуємо будь-які задачі
      .col-md-6.position-relative
        img.about__img-right(src="./img/about-2.png" alt="about image 2")
        .about__item.about__item_right
          .about__decor
            .about__dot-outer
              .about__dot-inner
          p.about__text Рінго найкращий підрядник прораба, дизайнера, проект-менеджера або персональний помічник власника бізнесу, квартири чи салону