section.section.advantages
  .container
    h2.section__title Наші переваги
    .row
      .col
        .advantages__list
          .advantages__item
            .advantages__item-column
              span.advantages__item-number 01
              img.advantages__item-img(src="./img/advantages-1.png" alt="Якість")
            .advantages__item-column
              h3.advantages__item-title Мобільність
              p.advantages__item-text Проводимо зустрічі на об'єктах в затишних закладах Києва
          .advantages__item
            .advantages__item-column
              span.advantages__item-number 02
              img.advantages__item-img(src="./img/advantages-2.png" alt="Надійність")
            .advantages__item-column
              h3.advantages__item-title Надійність
              p.advantages__item-text Система нашої роботи зосереджена на якості та термінах завершення проекту
          .advantages__item
            .advantages__item-column
              span.advantages__item-number 03
              img.advantages__item-img(src="./img/advantages-3.png" alt="Якість")
            .advantages__item-column
              h3.advantages__item-title Якість
              p.advantages__item-text Виготовляємо виключно з перевірених європейських брендів
          .advantages__item
            .advantages__item-column
              span.advantages__item-number 04
              img.advantages__item-img(src="./img/advantages-4.png" alt="Професіоналізм")
            .advantages__item-column
              h3.advantages__item-title Професіоналізм
              p.advantages__item-text Наша команда - це клуб професіоналів, об`єднаних в одній компанії
          .advantages__item
            .advantages__item-column
              span.advantages__item-number 05
              img.advantages__item-img(src="./img/advantages-5.png" alt="Вигідність")
            .advantages__item-column
              h3.advantages__item-title Вигідність
              p.advantages__item-text Ми відмовились від шоу-руму та офісу на користь вартості та мобільності