section.section.directions
  .container
    h2.section__title Основні напрямки
    .row.no-gutters
      .col-md-4
        .directions__item
          span.directions__item-number 01
          h3.directions__item-name Дизайн інтер'єру
          img.directions__item-img(src="./img/directions-1.jpg" alt="Дизайн інтер'єру")
      .col-md-4
        .directions__item
          span.directions__item-number 02
          h3.directions__item-name Виробництво меблів
          img.directions__item-img(src="./img/directions-2.jpg" alt="Виробництво меблів")
      .col-md-4
        .directions__item.directions__item_last
          span.directions__item-number 03
          h3.directions__item-name Комплексне меблювання
          img.directions__item-img(src="./img/directions-3.jpg" alt="Комплексне меблювання")