section.section.provide
  .container
    h2.section__title Ми забезпечемо вас
    .row
      .col
        .provide__list
          .provide__item
            img.provide__item-icon(src="./img/provide-1.svg" alt="Меблі")
            span.provide__item-name Меблями
          .provide__item
            img.provide__item-icon(src="./img/provide-2.svg" alt="Освітлення")
            span.provide__item-name Освітленням
          .provide__item
            img.provide__item-icon(src="./img/provide-3.svg" alt="Побутова техніка")
            span.provide__item-name Побутовою технікою
          .provide__item
            img.provide__item-icon(src="./img/provide-4.svg" alt="Двері")
            span.provide__item-name Дверима
          .provide__item
            img.provide__item-icon(src="./img/provide-5.svg" alt="Стінові панелі та підлогове покриття")
            span.provide__item-name Стіновими панелями та підлоговим покриттям
          .provide__item
            img.provide__item-icon(src="./img/provide-6.svg" alt="Проектування")
            span.provide__item-name Проектуванням