section.section.stages
  .container
    h2.section__title Етапи роботи
    .row.stages__row
      .col-sm-6.col-lg-3
        .stages__item
          .stages__item-number 01
          h3.stages__item-title Підписання договору
          .stages__item-text Визначаємось з бюджетом, матеріалами та фурнітурою. Вносимо правки в проект, підписуємо пакет документів
      .col-sm-6.col-lg-3
        .stages__item
          .stages__item-number 02
          h3.stages__item-title Виготовлення
          .stages__item-text Після підписання договору та визначення термінів, команда Рінго приступає до найцікавішого - виробництва!
      .col-sm-6.col-lg-3
        .stages__item
          .stages__item-number 03
          h3.stages__item-title Встановлення
          .stages__item-text По готовності виробництва  починаємо монтаж на обєкті. У домовлений час виконуємо доставку та монтаж
      .col-sm-6.col-lg-3
        .stages__item
          .stages__item-number 04
          h3.stages__item-title Новосілля
          .stages__item-text По закінченню робимо перевірку та підписуємо акт закінчення робіт